<app-header></app-header>
<table id="excel-table" class="table table-striped">
  <thead>
  <tr>
    <th scope="col">Id</th>
    <th scope="col">title</th>
    <th scope="col">author</th>
    <th scope="col">type</th>
    <th scope="col">view</th>
    <th scope="col">like</th>
    <th scope="col">dislike</th>
    <th scope="col">details</th>
    <th scope="col">time</th>
    <th scope="col">url</th>
    <th scope="col">avatarurl</th>
    <th scope="col">pictureURL</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let video of videos">
    <th scope="row">{{ video.id }}</th>
    <td>{{ video.title}}</td>
    <td>{{video.author}}</td>
    <td>{{video.type}}</td>
    <td>{{video.view}}</td>
    <td>{{video.like}}</td>
    <td>{{video.dislike}}</td>
    <td>{{video.details}}</td>
    <td>{{video.time}}</td>
    <td>{{video.url}}</td>
    <td>{{video.avatarurl}}</td>
    <td>{{video.pictureURL}}</td>
  </tr>
  </tbody>
</table>

<div class="d-flex justify-content-between p-2">
  <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" (pageChange)="refreshVideos()">
  </ngb-pagination>

  <button type="button" class="btn btn-primary" (click)="exportexcel()">Export to excel</button>

  <select class="custom-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshVideos()">
    <option [ngValue]="2">2 items per page</option>
    <option [ngValue]="4">4 items per page</option>
    <option [ngValue]="6">6 items per page</option>
    <option [ngValue]="VIDEOS.length">show all items</option>
  </select>
</div>