/****** video frame ******/
.container-fluid{
    background-color: #F9F9F9;
}

.video-frame iframe{
    width: 100%;
    height: 480px;
    border: none;
}

/**** list videos *****/
.listVideo-layout{
    width: 428px;
}

.list-videos{
    padding: 0;
    margin: 0;
    width: 428px;
}

.video-suggest{
    width: 100%;
    height: 98px;
    position: relative;
    margin-bottom: 7px;
    cursor: pointer;
}

.thumbnail{
    position: absolute;
    width: 168px;
    height: 94px;
}

.videoSuggest-info{
    position: absolute;
    width: calc(100% - 168px);
    right: 0;
    height: 100%;
    overflow: hidden;
}

.video-title{
    height: 40px;
    width: 100%;
    overflow: hidden;
}

.video-title > h3{
    height: 40px;
    line-height: 19px;
    font-weight: 500;
    padding: 3px 5px 3px 5px;
}
.sub-info{
    padding: 5px 0px 0px 5px;
    color: #606060;
}

/***** info video container ******/
.info-container{
    /* height: 800px; */
    padding-left: 35px;
}

.title{
    font-size: 20px;
    color: #030303;
    font-weight: 700;
}

.video-detail iframe{
    width: 100%;
    height: 480px;
    border: none;
}

.view{
    font-size: 13px;
    font-weight: 500;
    color: #676767;
}

.video-btnRight{
    background-color: #F9F9F9;
}

.video-button{
    font-size: 1rem;
    border: none;
    background-color: #FFFFFF;
    padding-right: 20px;
    background-color: #F9F9F9;
}

.video-button > i{
    padding-right: 5px;
}
